<div id="content"><h2><i nz-icon nzType="setting"></i> Settings</h2>
<form nz-form>
    <nz-form-item>
        <nz-form-label nzFor="name">Name</nz-form-label>
        <nz-form-control nzErrorTip="Please input name!">
            <input nz-input id="name" placeholder="" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzFor="name">IPv4</nz-form-label>
        <nz-form-control nzErrorTip="Please input name!">
            <input nz-input id="ipv4" placeholder="" />
        </nz-form-control>
    </nz-form-item>
</form></div>