<nz-layout class="layout" *ngIf="url != 'login'">
  <nz-sider class="menu-sidebar" nzTheme="light">
    <div
      style="background-color: rgb(0, 21, 41);color:rgba(255, 255, 255, 0.65);display: block;line-height: 60px;padding-left: 24px;">
      <i nz-icon nzType="radar-chart"></i> Oracle
    </div>
    <ul nz-menu nzMode="inline">
      <!--<li nz-menu-item>
        <i nz-icon nzType="apartment"></i>
        <a routerLink="/map">Map</a>
      </li>-->
      <li nz-menu-item>
        <i nz-icon nzType="hdd"></i>
        <a routerLink="/devices">Devices</a>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="setting"></i>
        <a routerLink="/settings">Settings</a>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="info-circle"></i>
        <a routerLink="/log">Log</a>
      </li>
      <hr>
      <li nz-menu-item>
        <i nz-icon nzType="logout"></i>
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>