<div id="content">
    <h2 style="text-align: center;"><i nz-icon nzType="radar-chart"></i> Oracle</h2>
    <form nz-form [formGroup]="form" (ngSubmit)="login()">
        <nz-form-item>
            <nz-form-label nzFor="name">Username</nz-form-label>
            <nz-form-control nzErrorTip="Please a username!">
                <input nz-input id="name" formControlName="name" placeholder="">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzFor="password">Password</nz-form-label>
            <nz-form-control nzErrorTip="Please a password!">
                <input nz-input id="password" type="password" formControlName="password" placeholder="">
            </nz-form-control>
        </nz-form-item>
        <p *ngIf="invalid" style="color:rgb(161, 65, 65)">Invalid username or password.</p>
        <nz-form-item nz-row>
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button nz-button nzType="primary" [disabled]="!form.valid">Login</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>